In [23]:
import pandas as pd
df = pd.DataFrame({'Team' : ['France','Ireland','England','Scotland','Wales','Italy'],
                    'Points':[25,21,10,10,7,4],
                    'Wins':[5,4,2,2,1,1]})

df.iloc[[4]]

    Team  Points  Wins
4  Wales       7     1

In [24]:
df.iloc[4] # returns a Series object when given an integer argument

Team      Wales
Points        7
Wins          1
Name: 4, dtype: object

In [25]:
df.iloc[[0,5]] # returns a DataFrame when given an array argument

     Team  Points  Wins
0  France      25     5
5   Italy       4     1

In [26]:
df.iloc[2:5] # using a slice object, so the end is excluded

       Team  Points  Wins
2   England      10     2
3  Scotland      10     2
4     Wales       7     1

In [27]:
df[df['Points'] > 20] # filter by values

      Team  Points  Wins
0   France      25     5
1  Ireland      21     4

In [28]:
df[df['Points'] > 20].index # get corresponding row numbers

Index([0, 1], dtype='int64')

In [29]:
df.iloc[2].at['Wins'] # nb of wins of England

2

In [30]:
df.at[2,'Wins']

2