# STRINGS

In [17]:
# Next two lines only to display every output of a cell, not only the last output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Example strings
txt = 'Bought 2024-03-24 in Göteborg'
price = 'for 3.05 €' 

# Split or join methods
txt.rsplit('-') # split starting from right
txt.rsplit('-', 1) # split only once
txt.partition('in') # partition and returns a 3-tuple
' '.join((txt,price)) # join takes only one argument (a tuple), hence the double parentheses

# Count or find in strings
txt.count('24')
txt.find('24') # returns position (or -1 if not found)
txt.index('24') # returns position (or an exception if not found)
txt.rfind('25') # same as find, but starting from the right
txt.rindex('24') # same as index, but starting from the right


# Replace or remove
txt.replace('Göteborg','Dublin')

# Case related methods
txt.capitalize()
txt.casefold() # set to lower case, can also convert some special characters, unlike lower()
txt.lower() 


# Misc
txt.encode() # encode to utf-8

['Bought 2024', '03', '24 in Göteborg']

['Bought 2024-03', '24 in Göteborg']

('Bought 2024-03-24 ', 'in', ' Göteborg')

'Bought 2024-03-24 in Göteborg for 3.05 €'

2

9

9

-1

15

'Bought 2024-03-24 in Dublin'

'Bought 2024-03-24 in göteborg'

'bought 2024-03-24 in göteborg'

'bought 2024-03-24 in göteborg'

b'Bought 2024-03-24 in G\xc3\xb6teborg'

In [18]:
# Test methods (return a boolean)
print (txt.startswith('Boug'))
print (txt.endswith('borg'))
print (txt.isalnum())
print (txt.isalpha())
print (txt.isascii())
print (txt.isdecimal())
print (txt.isdigit())
print (txt.isidentifier()) # must contain only a-z 0-9 and _
print (txt.islower()) 
print (txt.isupper()) 
print (txt.isnumeric())

True
True
False
False
False
False
False
False
False
False
False